<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Your Servers
        </div>
      <div class="card-body">
      <h1 [hidden]="!ready" *ngIf="serversData.length == 0">
        <span [hidden]="!ready" class="badge badge-info">Shame... You dont have any servers, yet!</span>
      </h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-info-circle"></i> ID</th>
            <th><i class="fa fa-key"></i> API Key</th>
            <th><i class="fa fa-hashtag"></i> Name</th>
            <th><i class="fa fa-server"></i> IP & Port</th>
            <th><i class="fa fa-user"></i> Owner SteamID64</th>
            <th><i class="fa fa-clock-o"></i> Created</th>
            <th><i class="fa fa-clock-o"></i> Updated</th>
            <th><i class="fa fa-user"></i> Updated by</th>
            <th><i class="fa fa-lock"></i> Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of serversData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{server.id}}</td>
            <td class="tooltip"
                style="cursor: pointer"
                ngxClipboard
                [cbContent]="server.api_key"
                (click)="copySuccess()"
                tooltip="{{server.api_key}}"
                placement="right">API Key
            </td>
            <td>{{server.name}}</td>
            <td>{{server.ip}}:{{server.port}}</td>
            <td>
              <a *ngIf="server.owner_steamid64 == '0'">
                {{server.owner_steamid64}}
              </a>
              <a *ngIf="server.owner_steamid64 != '0'" href="https://steamcommunity.com/profiles/{{server.owner_steamid64}}">
                {{server.owner_steamid64}}
              </a>
            </td>
            <td>{{server.created_on}}</td>
            <td>{{server.updated_on}}</td>
            <td>
              <a *ngIf="server.approved_by_steamid64 == '0'">
                {{steamIdToName(server.approved_by_steamid64)}}
              </a>
              <a *ngIf="server.approved_by_steamid64 != '0'" href="https://steamcommunity.com/profiles/{{server.approved_by_steamid64}}">
                {{steamIdToName(server.approved_by_steamid64)}}
              </a>
            </td>
            <td>
                <h5><span *ngIf="server.approval_status == 1" class="badge badge-success">Approved</span></h5>
                <h6><span *ngIf="server.approval_status == 0" class="badge badge-info">Pending</span></h6>
                <h6><span *ngIf="server.approval_status == -1" class="badge badge-danger">Rejected</span></h6>
            <td>
          </tr>
        </tbody>
      </table>
        <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
