<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Recent Bans
          </div>
        <div class="card-body">
        <h1 [hidden]="!ready" *ngIf="bansData.length == 0">
          <span *ngIf="selfRoute" [hidden]="!ready" class="badge badge-success">Congratulations! You have no bans in record</span>
          <span *ngIf="!selfRoute" [hidden]="!ready" class="badge badge-info">There seems to be no bans...</span>
        </h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-info-circle"></i> Ban ID</th>
              <th *ngIf="!selfRoute"><i class="fa fa-user"></i> Name / SteamID64</th>
              <th><i class="fa fa-cubes"></i> Type</th>
              <th><i class="fa fa-commenting"></i> Notes</th>
              <th><i class="fa fa-sticky-note"></i> Stats</th>
              <th><i class="fa fa-server"></i> Server ID</th>
              <th><i class="fa fa-calendar"></i> Ban Date</th>
              <th><i class="fa fa-hourglass"></i> Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ban of bansData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
              <td>{{ban.id}}</td>
              <td *ngIf="!selfRoute">
                <a *ngIf="ban.player_name == null" href="https://steamcommunity.com/profiles/{{ban.steamid64}}">
                  {{ban.steamid64}}
                </a>
                <a *ngIf="ban.player_name != null" href="https://steamcommunity.com/profiles/{{ban.steamid64}}">
                  {{ban.player_name}}
                </a>
              </td>
              <td>{{ban.ban_type}}</td>
              <td>{{ban.notes}}</td>
              <td class="tooltip"
                  style="cursor: pointer"
                  ngxClipboard
                  [cbContent]="ban.stats"
                  (click)="copySuccess()"
                  tooltip="{{ban.stats}}"
                  placement="right">Stats
              </td>
              <td>{{ban.server_id}}</td>
              <td class="badge badge-success">{{formatDate(ban.created_on)}}</td>
              <td>
                <span [hidden]="formatDate(ban.expires_on) != 'PERMANENT'" class="badge badge-danger">PERMANENT</span>
                <span [hidden]="formatDate(ban.expires_on) == 'PERMANENT'" class="badge badge-success">{{formatDate(ban.expires_on)}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

