<div *ngIf="ready && loggedIn" class="app flex-row align-items-center">
  <div class="loginSpinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>




<div *ngIf="ready && !loggedIn" class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h5 *ngIf="accessDenied" style="color:red">
                Access denied, please login first!
              </h5>
              <h1>Login</h1>
              <p class="text-muted">Sign In to your GlobalAPI account</p>
              <div class="row">
                <div class="col-6">
                    <img (click)="steamLogin()" src="../../../../assets/img/steam_auth.png" class="img-fluid" style="cursor: pointer">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
