<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Global Maps
        </div>
      <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-info-circle"></i> ID</th>
            <th><i class="fa fa-map"></i> Map Name</th>
            <th><i class="fa fa-file-code-o"></i> Filesize</th>
            <th><i class="fa fa-user"></i> Approver</th>
            <th><i class="fa fa-industry"></i> Difficulty</th>
            <th><i class="fa fa-map-marker"></i> Stages</th>
            <th><i class="fa fa-lock"></i> Validated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let map of mapsData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{map.id}}</td>
            <td>{{map.name}}</td>
            <td>{{map.filesize}}</td>
            <td>{{map.approved_by}}</td>
            <td>{{map.difficulty}}</td>
            <td>-</td>
            <td>
              <span *ngIf="map.validated" class="badge badge-success">Validated</span>
              <span *ngIf="!map.validated" class="badge badge-danger">Not Validated</span>
            </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="paginationControls" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
