<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <h4 class="mb-1">{{username}}</h4>
          <p>Welcome to the GlobalAPI Portal!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <h4 class="mb-0">1 (Placeholder)</h4>
          <p>Members Online</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <h4 class="mb-0">1 (Placeholder)</h4>
          <p>Registered Users</p>
        </div>
      </div>
    </div>
  </div>
</div>