<nav class="sidebar-nav">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']"><i class="icon-speedometer"></i>Dashboard</a>
        </li>

        <li class="nav-title">Management</li>

        <li class="nav-item nav-dropdown" *ngIf="admin" routerLinkActive="open" appNavDropdown>

            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-ban"></i> Bans</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/bans/manage']"><i class="icon-arrow-right"></i> Manage</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown" *ngIf="admin" routerLinkActive="open" appNavDropdown>

            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-map"></i> Maps</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/maps/manage']"><i class="icon-arrow-right"></i> Manage</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown" *ngIf="admin" routerLinkActive="open" appNavDropdown>

            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-folder"></i> Modes</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/modes/modify']"><i class="icon-arrow-right"></i> Modify</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown" *ngIf="admin" routerLinkActive="open" appNavDropdown>

            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-trophy"></i> Records</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/records/add']"><i class="icon-arrow-right"></i> Add</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/records/delete']"><i class="icon-arrow-right"></i> Delete</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/records/modify']"><i class="icon-arrow-right"></i> Modify</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>

            <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-server"></i> Servers</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/servers/apply']"><i class="icon-arrow-right"></i> Apply </a>
                </li>

                <li class="nav-item" *ngIf="admin">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/servers/add']"><i class="icon-arrow-right"></i> Add </a>
                </li>

                <li class="nav-item" *ngIf="admin">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/servers/modify']"><i class="icon-arrow-right"></i> Modify </a>
                </li>

                <li class="nav-item" *ngIf="admin">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/servers/manage']"><i class="icon-arrow-right"></i> Manage </a>
                </li>
            </ul>
        </li>

        <li class="nav-title">View</li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
            <a class="nav-link" [routerLink]="['/bans/view']" appNavDropdownToggle><i class="icon-ban"></i> Bans </a>
        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
            <a class="nav-link" [routerLink]="['/maps/view']" appNavDropdownToggle><i class="icon-map"></i> Maps </a>
        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
            <a class="nav-link" [routerLink]="['/records/view']" appNavDropdownToggle><i class="icon-trophy"></i> Records </a>
        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
            <a class="nav-link" [routerLink]="['/servers/view']" appNavDropdownToggle><i class="fa fa-server"></i> Servers </a>
        </li>
    </ul>
</nav>
