<div class="card-body">
    <form action="" method="post" class="form-horizontal">
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Record ID">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <div class="form-group has-danger">
            <input type="text" class="form-control" placeholder="Reason">
          </div>
        </div>
      </div>
    </form>
  </div>
<div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Submit</button>
</div>